.card {
    padding: 10px 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: white;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-header {
    display: flex;
    justify-content: flex-end;
}
